# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
app/**/__pycache__/
**/__pycache__/
*.pyc

# Virtual environments
venv/
env/
.venv/
ENV/

# Environment variables
.env
*.env

# IDE specific
.idea/
.vscode/
*.swp
*.swo

# Mac specific
.DS_Store
.AppleDouble
.LSOverride

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and database
*.log
*.sqlite3

# pytest
.cache/

# Coverage reports
htmlcov/
*.cover
*.coverage
*.cov
*.gcov

# MyPy
.mypy_cache/

# PyInstaller
*.spec

# Other
*.eggs/
*.~backup

app/config/config.py